<a href="https://colab.research.google.com/github/kari-hub/Moringa_school_week_4_data_science_prep_project/blob/master/Moringa_school_Data_Science_Prep_week_4_Independent_Project_2020_04_04_Sarah_Wangari_Data_Report.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Moringa School Project Week 4

# 1.0 Project overview

In this week's independent project, you will be working as a data scientist working for an electric car-sharing service company. You have been tasked to process stations data to understand electric car usage over time by solving for the following research question;

Research Question

   >>Identify the most popular hour of the day for picking up a shared    electric  car (Bluecar) in the city of Paris over the month of April 2018.

Other important questions to be considered.

1. What is the most popular hour for returning cars?

2. What station is the most popular?

     >Overall?

     >At the most popular picking hour?

3. What postal code is the most popular for picking up Blue cars?

4.  Does the most popular station belong to that postal code?

      >Overall?

      >At the most popular picking hour?

5. Do the results change if you consider Utilib and Utilib 1.4 instead of Blue cars?

The following datasets will be used in our report.

[http://bit.ly/autolib_dataset (Links to an external site.)] 

 [Link] (Links to an external site.).

# 1.1 Importing our libraries

In [0]:
# We will first import our libraries
import pandas as pd

import numpy as np

# 1.2 Loading our datasets

In [3]:
# We will then retrieve our datasets that will be used in the report.
data = pd.read_csv('Autolib_dataset (2).csv')
data_df = pd.DataFrame(data)
data_df

                                 Address  Cars  ...  hour  minute
0                    2 Avenue de Suffren     0  ...    11      43
1              145 Rue Raymond Losserand     6  ...     7      24
2       2 Avenue John Fitzgerald Kennedy     3  ...    20      14
3                 51 Rue EugÃ¨ne OudinÃ©     3  ...     4      37
4     6 avenue de la Porte de Champerret     3  ...    17      23
...                                  ...   ...  ...   ...     ...
4995                 8 avenue MÃ©nelotte     2  ...    11      26
4996                   37 rue de Dantzig     4  ...    16      56
4997                      142 rue du Bac     1  ...     7       1
4998         2 avenue du Val de Fontenay     2  ...    17      27
4999                 5 Rue Henry Brisson     4  ...    10       2

[5000 rows x 25 columns]

# 1.3 Previewing our datasets

In [4]:
# Let's preview the first 10 rows ouf our dataframes

data_df.head(10)

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23
5                8 Boulevard Voltaire     0                0  ...    6     7       2
6                      37 rue Leblanc     0                0  ...    8    18      20
7         17 Rue des Luaps ProlongÃ©e     3                3  ...    4    22      13
8               34 avenue Jean Moulin     1                1  ...    2    22      58
9        41 boulevard de Rochechouart     6                6  ...    4    15       2

[10 rows x 25 columns]

# 1.4 Assessing dataset information

In [0]:
# We will then assess our dataset's information

data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   Displayed comment    111 non-null    object
 9   ID                   5000 non-null   object
 10  Kind                 5000 non-null   object
 11  Geo point            5000 non-null   object
 12  Postal code          5000 non-null   int64
 13  Public name          5000 non-null   object
 14  Rental status        5000 non-null   object
 15  Scheduled at         47 non-null     object
 16  Slots                5000 non-null   int64
 17  Station type         5000 non-null   object
 18  Status               5000 non-null   object
 19  Subscription status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB

# 1.5 Cleaning our datasets

We will then proceed to perform the data cleaning procedures needed for the dataset given.

In [0]:
# Removing irrelevant Data

data_df.drop(['Displayed comment','Scheduled at', 'Slots', 'Station type', 'Status', 'Subscription status'], axis=1, inplace=True)
data_df

KeyError: ignored

In [6]:
# Check for any missing values

data_df.isnull().values.any()

# Get the sum of the null values

data_df.isnull().sum().sum()

# Drop all rows with null values.
df1 = data_df.dropna(how='all')
df1

# Check for duplicates
data_df.duplicated()

# Change column names
df = df1.rename(columns= {'Bluecar counter' : 'Bluecar',	'Utilib counter' : 'Utilib', 'Utilib 1.4 counter' : 'Utilib 1.4'})
df

# Fill null values with 0
df2 = df.fillna(0)
df2

# We set the limit for the number of non-null values.
df2_thresh = df2.dropna(thresh=6)
df2

                                 Address  Cars  Bluecar  ...  day  hour  minute
0                    2 Avenue de Suffren     0        0  ...    8    11      43
1              145 Rue Raymond Losserand     6        6  ...    6     7      24
2       2 Avenue John Fitzgerald Kennedy     3        3  ...    3    20      14
3                 51 Rue EugÃ¨ne OudinÃ©     3        3  ...    4     4      37
4     6 avenue de la Porte de Champerret     3        3  ...    8    17      23
...                                  ...   ...      ...  ...  ...   ...     ...
4995                 8 avenue MÃ©nelotte     2        2  ...    6    11      26
4996                   37 rue de Dantzig     4        4  ...    4    16      56
4997                      142 rue du Bac     1        1  ...    1     7       1
4998         2 avenue du Val de Fontenay     2        2  ...    4    17      27
4999                 5 Rue Henry Brisson     4        4  ...    8    10       2

[5000 rows x 25 columns]

In [34]:
# We will remove all existing syntax errors

df['City']=df['City'].str.strip()
df['ID']= df['ID'].str.strip()
df['Kind']=df['Kind'].str.strip()
df['Public name']=df['Public name'].str.strip()
df['Rental status']=df['Rental status'].str.strip()
df['Status']=df['Status'].str.strip()
df


# We will replace any other errors in our data using the str function

df.columns = df.columns.str.strip().str.upper().str.replace("","")


# We will then filter out the information that we will need for the survey
# By filtering the rows first.

df = df2[df2['RENTAL STATUS']=="operational"]
df

df = df2[df2['STATUS']=="ok"]
df

df = df2[df2['KIND']=="STATION"]
df

# We will then remove rows with 0 value for bluecar, utilib and utilib 1.4

df = df[df['UTILIB 1.4'] > 0]
df = df[df['UTILIB'] > 0]
df = df[df['BLUECAR'] > 0]
df

KeyError: ignored

# 1.6 Analysis

In [28]:
# Finding the most popular hour for picking by an electrical car in Paris

df = df[df2['CITY']=='Paris']
df

Empty DataFrame
Columns: [ADDRESS, CARS, BLUECAR, UTILIB, UTILIB 1.4, CHARGE SLOTS, CHARGING STATUS, CITY, DISPLAYED COMMENT, ID, KIND, GEO POINT, POSTAL CODE, PUBLIC NAME, RENTAL STATUS, SCHEDULED AT, SLOTS, STATION TYPE, STATUS, SUBSCRIPTION STATUS, YEAR, MONTH, DAY, HOUR, MINUTE]
Index: []

In [0]:
# Finding the most popular hours for returning cars.